<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">

    <title>疫情地图</title>

    <!--web fonts-->
    <link href="http://fonts.proxy.ustclug.org/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="http://fonts.proxy.ustclug.org/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!--bootstrap styles-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--icon font-->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!--jquery ui-->
    <link href="/static/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!--custom styles-->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv.js"></script>
    <script src="/static/vendor/respond.min.js"></script>
    <![endif]-->
</head>


<body class="fixed-nav top-nav">

    <!--header-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNav">
        <div class="box-container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <!--brand name-->
                <a class="navbar-brand navbar-hide-responsive" href="#">
                    <!-- <img class="pr-3 float-left" src="/static/img/logo-icon.png" srcset="assets/img/logo-icon@2x.png 2x"  alt=""/> -->
                    <div class="float-left">
                        <div>
                            <H1>2019新型肺炎疫情地图(全国、安徽、河北、湖北、浙江)</H1>
                        </div>
                    </div>
                </a>
                <!--/brand name-->
            </div>
        </div>
    </nav>


    <!--main content wrapper-->
    <div class="content-wrapper" style="padding-top: 0px;">

        <div class="box-container">
            <div class="container-fluid">

                <!--sales statistical overview-->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card card-shadow mb-4">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-info">
                                    <div class="custom-title">
                                        <H3>疫情地图</H3>
                                    </div>

                                </div>
                            </div>
                            <!-- body china -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <ul class="list-unstyled mt-1" id="china_overview">
                                        </ul>

                                        <ul class="list-unstyled base-timeline" id="china_news">
                                        </ul>
                                    </div>
                                    <div class="col-xl-4">
                                        <div id="china_map" class="chart-container" style="width:360px; height:640px;">
                                        </div>

                                    </div>
                                    <div class="col-xl-5">
                                        <div id="china_bar" class="chart-container" style="width:355px; height:900px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr />
                            </div>
                            <!-- body anhui -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <ul class="list-unstyled mt-1" id="anhui_overview">
                                        </ul>

                                        <ul class="list-unstyled base-timeline" id="anhui_news">
                                        </ul>
                                    </div>
                                    <div class="col-xl-4">
                                        <div id="anhui_map" class="chart-container" style="width:360px; height:640px;">
                                        </div>
                                    </div>
                                    <div class="col-xl-5">
                                        <div id="anhui_bar" class="chart-container" style="width:355px; height:640px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr />
                            </div>
                            <!-- body hubei -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <ul class="list-unstyled mt-1" id="hebei_overview">
                                        </ul>

                                        <ul class="list-unstyled base-timeline" id="hebei_news">
                                        </ul>
                                    </div>
                                    <div class="col-xl-4">
                                        <div id="hebei_map" class="chart-container" style="width:360px; height:640px;">
                                        </div>
                                    </div>
                                    <div class="col-xl-5">
                                        <div id="hebei_bar" class="chart-container" style="width:355px; height:640px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr />
                            </div>
                            <!-- body hubei -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <ul class="list-unstyled mt-1" id="hubei_overview">
                                        </ul>

                                        <ul class="list-unstyled base-timeline" id="hubei_news">
                                        </ul>
                                    </div>
                                    <div class="col-xl-4">
                                        <div id="hubei_map" class="chart-container" style="width:360px; height:640px;">
                                        </div>
                                    </div>
                                    <div class="col-xl-5">
                                        <div id="hubei_bar" class="chart-container" style="width:355px; height:640px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr />
                            </div>
                            <!-- body zhejiang -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <ul class="list-unstyled mt-1" id="zhejiang_overview">
                                        </ul>

                                        <ul class="list-unstyled base-timeline" id="zhejiang_news">
                                        </ul>
                                    </div>
                                    <div class="col-xl-4">
                                        <div id="zhejiang_map" class="chart-container"
                                            style="width:360px; height:640px;">
                                        </div>
                                    </div>
                                    <div class="col-xl-5">
                                        <div id="zhejiang_bar" class="chart-container"
                                            style="width:355px; height:640px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr />
                            </div>
                            <!-- 扩展省份 start-->
                            <!-- 复制上面 body 省份内容到此中间改 domid即可,记得引入相关地图 -->


                            <!-- 扩展省份 end-->
                        </div>
                    </div>

                </div>
                <!--/sales statistical overview-->

            </div>
        </div>
    </div>
    <!--/main content wrapper-->

    <!--footer-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                数据来源自丁香园,如若出现统计错误,敬请告知
            </div>
            <p class="copyright1" style="text-align: center;">Copyright © 2020 <a
                    href="https://ahusmart.com"><strong>多媒体通信实验室 </strong></a> <a
                    href="https://git.ahusmart.com/fangkai/ncov"><strong>Gitlab </strong></a> <a
                    href="https://github.com/hack-fang/nCov.git"><strong>Github </strong></a>All Rights Reserved.
        </div>
    </footer>
    <!--/footer-->

    <!--basic scripts-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="/static/vendor/modernizr.js"></script>
    <![endif]-->

    <!-- echarts -->
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <!-- 地图 -->
    <script type="text/javascript" src="/static/vendor/map/china.js"></script>
    <script type="text/javascript" src="/static/vendor/map/hubei.js"></script>
    <script type="text/javascript" src="/static/vendor/map/hebei.js"></script>
    <script type="text/javascript" src="/static/vendor/map/anhui.js"></script>
    <script type="text/javascript" src="/static/vendor/map/zhejiang.js"></script>
    <!-- 更新脚本 -->
    <script type="text/javascript" src="/static/js/update.js"></script>
</body>

</html>